<a href="https://colab.research.google.com/github/jhonfirefox/Laboratorios_TT/blob/main/Lab3_ADB_TT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Se importan las librerias necesarias para los codigos
import pandas as pd
import numpy as np
from cryptography.fernet import Fernet
import datetime

In [2]:
#Definimos algunas funciones que se utilizaran con frecuencia
def validacionDatos_Numerico(datos, campo):
  datos['Validacion_'+campo] = datos[campo].apply(lambda x:'Válido' if (pd.notnull(x) and (isinstance(x, int) or isinstance(x, float))) else 'Inválido')

#Funcion para validar que los datos sean no negativos
def validacionDatos_Numerico_NN(datos, campo):
  datos['Validacion_NN_'+campo] = datos[campo].apply(lambda x:'Válido' if (pd.notnull(x) and (isinstance(x, int) or isinstance(x, float)) and x >= 0) else 'Inválido')

def valoresFaltantes(datos):
    return datos.isnull().sum()

##Corregimos la fecha de los registros que estan en formato "%Y/%m/%d"
def corregir_fecha(fecha_str, formato):
    try:
        fecha = datetime.datetime.strptime(fecha_str, formato)
        return fecha.strftime("%Y-%m-%d")
    except ValueError:
        return fecha_str

def validarFecha(fecha_str, formato):
    try:
        fecha = datetime.datetime.strptime(fecha_str, formato)
        return "Válido"
    except ValueError:
        return "Inválido"
def eliminarFechasNulas(datos, campo):
  for indice, fecha in enumerate(datos[campo]):
    if pd.isnull(fecha):
      datos = datos.drop(indice)
  return datos

#Validamos que el campo de la fecha se encuentre correcto
def validacionDatos_Fecha(datos, campo, formatoFecha):
   #datos['Validacion'+campo] = datos[campo].apply(lambda x:'Válido' if isinstance(datetime.datetime.strptime(x, "%Y/%m/%d"), datetime.datetime) else 'Inválido')
   datos['Validacion_'+campo] = datos[campo].apply(validarFecha, args=(formatoFecha,))

In [3]:
#Extraemos los datos del archivo CSV de GitHub
#url  = "https://raw.githubusercontent.com/jhonfirefox/Laboratorios_TT/main/Lab1_DA.csv""
url = "https://raw.githubusercontent.com/jhonfirefox/Laboratorios_TT/main/CSV_Laboratorio3_AD_B.csv"
datos1_df = pd.read_csv(url, sep=",", decimal=".", encoding='windows-1252')
datos1_df

    ID     Name    Category         City  Value        Date
0    1  Charlie       Cat C      Chicago   46.0   4/13/2023
1    2     Jane       Cat C      Houston   53.0  12/15/2023
2    3     Jane  category a      Chicago   68.0   9/28/2023
3    4     John         NaN     New York   97.0   4/17/2023
4    5     Jane       Cat C      Houston   71.0   3/13/2023
5    6      Eve  category a  Los Angeles   61.0    7/8/2023
6    7     Jane  Category A      Chicago   48.0   1/21/2023
7    8      Bob  CATEGORY B     New York   65.0   4/13/2023
8    9      Bob  CATEGORY B  Los Angeles    NaN    5/2/2023
9   10     Dave  CATEGORY B  Los Angeles   11.0    8/3/2023
10  11      Bob       Cat C          NaN   96.0  11/27/2023
11  12     Dave  Category A      Houston   10.0   3/29/2023
12  13      Bob       Cat C      Chicago   11.0   4/10/2023
13  14      Eve         NaN     New York   99.0  12/26/2023
14  15    Grace       Cat C          NaN   41.0    6/1/2023
15  16     Dave  Category A      Houston   64.0   5/11/2023
16  17    Alice  Category A          NaN   26.0   5/30/2023
17  18  Charlie         NaN      Houston   33.0   11/5/2023
18  19     John  Category A      Houston   79.0   9/15/2023
19  20      Bob  Category A      Chicago   25.0  12/10/2023
20  21     Jane  CATEGORY B      Houston   68.0  10/21/2023
21  22    Grace         NaN          NaN   12.0   7/11/2023
22  23      Bob  Category B      Houston   68.0   10/4/2023
23  24     Jane  Category B      Chicago   99.0   6/10/2023
24  25  Charlie  Category A      Chicago   28.0  11/10/2023
25  26  Charlie  Category B          NaN   80.0   1/22/2023
26  27  Charlie  Category B  Los Angeles   42.0   9/10/2023
27  28     Jane  Category A  Los Angeles   48.0   8/24/2023
28  29      Bob  Category B      Houston   10.0  12/11/2023
29  30  Charlie       Cat C     New York   66.0   2/18/2023
30  31      Eve  category a      Houston   32.0   2/28/2023
31  32     Dave         NaN          NaN   51.0   6/19/2023
32  33     Jane  category a          NaN   25.0    7/7/2023
33  34     Jane  Category A          NaN   69.0   9/28/2023
34  35      Bob  CATEGORY B          NaN   10.0    7/9/2023
35  36     Jane         NaN          NaN    NaN   6/24/2023
36  37     Jane  Category A      Chicago   46.0   2/20/2023
37  38  Charlie  CATEGORY B  Los Angeles   18.0  12/30/2023
38  39      Bob  category a          NaN   28.0   2/24/2023
39  40  Charlie  Category A     New York   12.0    9/1/2023
40  41     Dave         NaN     New York   63.0  11/16/2023
41  42    Grace         NaN     New York   33.0   5/11/2023
42  43     Dave       Cat-C     New York   81.0   11/3/2023
43  44    Grace       Cat C      Chicago   93.0   5/15/2023
44  45  Charlie  Category B     New York   98.0   1/21/2023
45  46     Dave  CATEGORY B          NaN   27.0  11/25/2023
46  47      Bob       Cat-C      Houston   91.0   6/16/2023
47  48     John  Category B     New York   44.0   10/1/2023
48  49  Charlie  Category B      Chicago   50.0   3/30/2023
49  50    Grace  Category A      Chicago   77.0  11/12/2023
50  14      Eve         NaN     New York   99.0  12/26/2023
51  40  Charlie  Category A     New York   12.0    9/1/2023
52  31      Eve  category a      Houston   32.0   2/28/2023
53  46     Dave  CATEGORY B          NaN   27.0  11/25/2023
54  18  Charlie         NaN      Houston   33.0   11/5/2023
55  49  Charlie  Category B      Chicago   50.0   3/30/2023
56  27  Charlie  Category B  Los Angeles   42.0   9/10/2023
57  26  Charlie  Category B          NaN   80.0   1/22/2023
58  33     Jane  category a          NaN   25.0    7/7/2023
59  20      Bob  Category A      Chicago   25.0  12/10/2023

In [ ]:
#.isnull(), .duplicated(), y .value_counts() sobre la columna “City”.

#Verificamos los datos duplicados
#Verificamos el formato de las fechas

In [4]:
#valores_Faltantes = datos1_df.isnull().sum()
#Verificamos los datos nulos
valores_Faltantes = valoresFaltantes(datos1_df)
print(valores_Faltantes)

if valores_Faltantes.any():
    print("Hay valores faltantes en el DataFrame.")
else:
    print("No hay valores faltantes en el DataFrame.")

ID           0
Name         0
Category    10
City        15
Value        2
Date         0
dtype: int64
Hay valores faltantes en el DataFrame.

In [5]:
#Eliminamos los valores nulos del campo Category and City
datos2_df = datos1_df.dropna()
#datos1_df
#Volvemos a verificar valores faltantes
valoresFaltantes = valoresFaltantes(datos2_df)

print(valores_Faltantes)

if valores_Faltantes.any():
    print("Hay valores faltantes en el DataFrame.")
else:
    print("No hay valores faltantes en el DataFrame.")

ID           0
Name         0
Category    10
City        15
Value        2
Date         0
dtype: int64
Hay valores faltantes en el DataFrame.

In [6]:
datos2_df

    ID     Name    Category         City  Value        Date
0    1  Charlie       Cat C      Chicago   46.0   4/13/2023
1    2     Jane       Cat C      Houston   53.0  12/15/2023
2    3     Jane  category a      Chicago   68.0   9/28/2023
4    5     Jane       Cat C      Houston   71.0   3/13/2023
5    6      Eve  category a  Los Angeles   61.0    7/8/2023
6    7     Jane  Category A      Chicago   48.0   1/21/2023
7    8      Bob  CATEGORY B     New York   65.0   4/13/2023
9   10     Dave  CATEGORY B  Los Angeles   11.0    8/3/2023
11  12     Dave  Category A      Houston   10.0   3/29/2023
12  13      Bob       Cat C      Chicago   11.0   4/10/2023
15  16     Dave  Category A      Houston   64.0   5/11/2023
18  19     John  Category A      Houston   79.0   9/15/2023
19  20      Bob  Category A      Chicago   25.0  12/10/2023
20  21     Jane  CATEGORY B      Houston   68.0  10/21/2023
22  23      Bob  Category B      Houston   68.0   10/4/2023
23  24     Jane  Category B      Chicago   99.0   6/10/2023
24  25  Charlie  Category A      Chicago   28.0  11/10/2023
26  27  Charlie  Category B  Los Angeles   42.0   9/10/2023
27  28     Jane  Category A  Los Angeles   48.0   8/24/2023
28  29      Bob  Category B      Houston   10.0  12/11/2023
29  30  Charlie       Cat C     New York   66.0   2/18/2023
30  31      Eve  category a      Houston   32.0   2/28/2023
36  37     Jane  Category A      Chicago   46.0   2/20/2023
37  38  Charlie  CATEGORY B  Los Angeles   18.0  12/30/2023
39  40  Charlie  Category A     New York   12.0    9/1/2023
42  43     Dave       Cat-C     New York   81.0   11/3/2023
43  44    Grace       Cat C      Chicago   93.0   5/15/2023
44  45  Charlie  Category B     New York   98.0   1/21/2023
46  47      Bob       Cat-C      Houston   91.0   6/16/2023
47  48     John  Category B     New York   44.0   10/1/2023
48  49  Charlie  Category B      Chicago   50.0   3/30/2023
49  50    Grace  Category A      Chicago   77.0  11/12/2023
51  40  Charlie  Category A     New York   12.0    9/1/2023
52  31      Eve  category a      Houston   32.0   2/28/2023
55  49  Charlie  Category B      Chicago   50.0   3/30/2023
56  27  Charlie  Category B  Los Angeles   42.0   9/10/2023
59  20      Bob  Category A      Chicago   25.0  12/10/2023

In [7]:
#Verificamos datos duplicados
#df1 = df[df.duplicated(keep=False)]
datos2_df.duplicated(keep=False)

0     False
1     False
2     False
4     False
5     False
6     False
7     False
9     False
11    False
12    False
15    False
18    False
19     True
20    False
22    False
23    False
24    False
26     True
27    False
28    False
29    False
30     True
36    False
37    False
39     True
42    False
43    False
44    False
46    False
47    False
48     True
49    False
51     True
52     True
55     True
56     True
59     True
dtype: bool

In [17]:
#Eliminamos duplicados
datos3_df = datos2_df.drop_duplicates(keep=False)
datos3_df

    ID     Name    Category         City  Value        Date
0    1  Charlie       Cat C      Chicago   46.0   4/13/2023
1    2     Jane       Cat C      Houston   53.0  12/15/2023
2    3     Jane  category a      Chicago   68.0   9/28/2023
4    5     Jane       Cat C      Houston   71.0   3/13/2023
5    6      Eve  category a  Los Angeles   61.0    7/8/2023
6    7     Jane  Category A      Chicago   48.0   1/21/2023
7    8      Bob  CATEGORY B     New York   65.0   4/13/2023
9   10     Dave  CATEGORY B  Los Angeles   11.0    8/3/2023
11  12     Dave  Category A      Houston   10.0   3/29/2023
12  13      Bob       Cat C      Chicago   11.0   4/10/2023
15  16     Dave  Category A      Houston   64.0   5/11/2023
18  19     John  Category A      Houston   79.0   9/15/2023
20  21     Jane  CATEGORY B      Houston   68.0  10/21/2023
22  23      Bob  Category B      Houston   68.0   10/4/2023
23  24     Jane  Category B      Chicago   99.0   6/10/2023
24  25  Charlie  Category A      Chicago   28.0  11/10/2023
27  28     Jane  Category A  Los Angeles   48.0   8/24/2023
28  29      Bob  Category B      Houston   10.0  12/11/2023
29  30  Charlie       Cat C     New York   66.0   2/18/2023
36  37     Jane  Category A      Chicago   46.0   2/20/2023
37  38  Charlie  CATEGORY B  Los Angeles   18.0  12/30/2023
42  43     Dave       Cat-C     New York   81.0   11/3/2023
43  44    Grace       Cat C      Chicago   93.0   5/15/2023
44  45  Charlie  Category B     New York   98.0   1/21/2023
46  47      Bob       Cat-C      Houston   91.0   6/16/2023
47  48     John  Category B     New York   44.0   10/1/2023
49  50    Grace  Category A      Chicago   77.0  11/12/2023

In [18]:
#Verificamos de nuevo los duplicados
datos3_df.duplicated(keep=False)

0     False
1     False
2     False
4     False
5     False
6     False
7     False
9     False
11    False
12    False
15    False
18    False
20    False
22    False
23    False
24    False
27    False
28    False
29    False
36    False
37    False
42    False
43    False
44    False
46    False
47    False
49    False
dtype: bool

In [13]:
datos2_df = datos2_df.drop_duplicates(keep=False)
datos2_df

    ID     Name    Category         City  Value        Date
0    1  Charlie       Cat C      Chicago   46.0   4/13/2023
1    2     Jane       Cat C      Houston   53.0  12/15/2023
2    3     Jane  category a      Chicago   68.0   9/28/2023
4    5     Jane       Cat C      Houston   71.0   3/13/2023
5    6      Eve  category a  Los Angeles   61.0    7/8/2023
6    7     Jane  Category A      Chicago   48.0   1/21/2023
7    8      Bob  CATEGORY B     New York   65.0   4/13/2023
9   10     Dave  CATEGORY B  Los Angeles   11.0    8/3/2023
11  12     Dave  Category A      Houston   10.0   3/29/2023
12  13      Bob       Cat C      Chicago   11.0   4/10/2023
15  16     Dave  Category A      Houston   64.0   5/11/2023
18  19     John  Category A      Houston   79.0   9/15/2023
19  20      Bob  Category A      Chicago   25.0  12/10/2023
20  21     Jane  CATEGORY B      Houston   68.0  10/21/2023
22  23      Bob  Category B      Houston   68.0   10/4/2023
23  24     Jane  Category B      Chicago   99.0   6/10/2023
24  25  Charlie  Category A      Chicago   28.0  11/10/2023
26  27  Charlie  Category B  Los Angeles   42.0   9/10/2023
27  28     Jane  Category A  Los Angeles   48.0   8/24/2023
28  29      Bob  Category B      Houston   10.0  12/11/2023
29  30  Charlie       Cat C     New York   66.0   2/18/2023
30  31      Eve  category a      Houston   32.0   2/28/2023
36  37     Jane  Category A      Chicago   46.0   2/20/2023
37  38  Charlie  CATEGORY B  Los Angeles   18.0  12/30/2023
39  40  Charlie  Category A     New York   12.0    9/1/2023
42  43     Dave       Cat-C     New York   81.0   11/3/2023
43  44    Grace       Cat C      Chicago   93.0   5/15/2023
44  45  Charlie  Category B     New York   98.0   1/21/2023
46  47      Bob       Cat-C      Houston   91.0   6/16/2023
47  48     John  Category B     New York   44.0   10/1/2023
48  49  Charlie  Category B      Chicago   50.0   3/30/2023
49  50    Grace  Category A      Chicago   77.0  11/12/2023
51  40  Charlie  Category A     New York   12.0    9/1/2023
52  31      Eve  category a      Houston   32.0   2/28/2023
55  49  Charlie  Category B      Chicago   50.0   3/30/2023
56  27  Charlie  Category B  Los Angeles   42.0   9/10/2023
59  20      Bob  Category A      Chicago   25.0  12/10/2023

In [19]:
#Contamos el numero de ciudades presentes en el dataset
datos2_df['City'].value_counts()

City
Chicago        13
Houston        11
New York        7
Los Angeles     6
Name: count, dtype: int64

In [21]:
#Contamos el numero de categorias presentes en el dataset
number_cat = datos2_df['Category'].value_counts()
number_cat

Category
Category A    12
Category B     9
Cat C          6
category a     4
CATEGORY B     4
Cat-C          2
Name: count, dtype: int64

In [23]:
#Las categorias las dejaremos con el siguiente formato
#Categoria A = CA
#Categoria B = CB
#Categoria C = CC
list_cat = number_cat.index.tolist()
list_cat

for value in list_cat:
  if value == list_cat[0]:
    datos2_df['Category'] = datos2_df['Category'].replace(value, 'CA')
  elif value == list_cat[1]:
    datos2_df['Category'] = datos2_df['Category'].replace(value, 'CB')
  elif value == list_cat[2]:
    datos2_df['Category'] = datos2_df['Category'].replace(value, 'CC')
  elif value == list_cat[3]:
    datos2_df['Category'] = datos2_df['Category'].replace(value, 'CA')
  elif value == list_cat[4]:
    datos2_df['Category'] = datos2_df['Category'].replace(value, 'CB')
  elif value == list_cat[5]:
    datos2_df['Category'] = datos2_df['Category'].replace(value, 'CC')

datos2_df

<ipython-input-23-5c9e13a0527d>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos2_df['Category'] = datos2_df['Category'].replace(value, 'CA')
<ipython-input-23-5c9e13a0527d>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos2_df['Category'] = datos2_df['Category'].replace(value, 'CB')
<ipython-input-23-5c9e13a0527d>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos2_df['Category'] = datos2_df['Category'].replace(value, 'CC')
<ipython-input-23-5c9e13a0527d>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos2_df['Category'] = datos2_df['Category'].replace(value, 'CA')
<ipython-input-23-5c9e13a0527d>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos2_df['Category'] = datos2_df['Category'].replace(value, 'CB')
<ipython-input-23-5c9e13a0527d>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos2_df['Category'] = datos2_df['Category'].replace(value, 'CC')

    ID     Name Category         City  Value        Date
0    1  Charlie       CC      Chicago   46.0   4/13/2023
1    2     Jane       CC      Houston   53.0  12/15/2023
2    3     Jane       CA      Chicago   68.0   9/28/2023
4    5     Jane       CC      Houston   71.0   3/13/2023
5    6      Eve       CA  Los Angeles   61.0    7/8/2023
6    7     Jane       CA      Chicago   48.0   1/21/2023
7    8      Bob       CB     New York   65.0   4/13/2023
9   10     Dave       CB  Los Angeles   11.0    8/3/2023
11  12     Dave       CA      Houston   10.0   3/29/2023
12  13      Bob       CC      Chicago   11.0   4/10/2023
15  16     Dave       CA      Houston   64.0   5/11/2023
18  19     John       CA      Houston   79.0   9/15/2023
19  20      Bob       CA      Chicago   25.0  12/10/2023
20  21     Jane       CB      Houston   68.0  10/21/2023
22  23      Bob       CB      Houston   68.0   10/4/2023
23  24     Jane       CB      Chicago   99.0   6/10/2023
24  25  Charlie       CA      Chicago   28.0  11/10/2023
26  27  Charlie       CB  Los Angeles   42.0   9/10/2023
27  28     Jane       CA  Los Angeles   48.0   8/24/2023
28  29      Bob       CB      Houston   10.0  12/11/2023
29  30  Charlie       CC     New York   66.0   2/18/2023
30  31      Eve       CA      Houston   32.0   2/28/2023
36  37     Jane       CA      Chicago   46.0   2/20/2023
37  38  Charlie       CB  Los Angeles   18.0  12/30/2023
39  40  Charlie       CA     New York   12.0    9/1/2023
42  43     Dave       CC     New York   81.0   11/3/2023
43  44    Grace       CC      Chicago   93.0   5/15/2023
44  45  Charlie       CB     New York   98.0   1/21/2023
46  47      Bob       CC      Houston   91.0   6/16/2023
47  48     John       CB     New York   44.0   10/1/2023
48  49  Charlie       CB      Chicago   50.0   3/30/2023
49  50    Grace       CA      Chicago   77.0  11/12/2023
51  40  Charlie       CA     New York   12.0    9/1/2023
52  31      Eve       CA      Houston   32.0   2/28/2023
55  49  Charlie       CB      Chicago   50.0   3/30/2023
56  27  Charlie       CB  Los Angeles   42.0   9/10/2023
59  20      Bob       CA      Chicago   25.0  12/10/2023

In [25]:
#Estandarizamos la fecha al formato
validacionDatos_Fecha(datos2_df, "Date", "%Y-%m-%d")

datos2_df

<ipython-input-2-80eebb94865f>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['Validacion_'+campo] = datos[campo].apply(validarFecha, args=(formatoFecha,))

    ID     Name Category         City  Value        Date Validacion_Date
0    1  Charlie       CC      Chicago   46.0   4/13/2023        Inválido
1    2     Jane       CC      Houston   53.0  12/15/2023        Inválido
2    3     Jane       CA      Chicago   68.0   9/28/2023        Inválido
4    5     Jane       CC      Houston   71.0   3/13/2023        Inválido
5    6      Eve       CA  Los Angeles   61.0    7/8/2023        Inválido
6    7     Jane       CA      Chicago   48.0   1/21/2023        Inválido
7    8      Bob       CB     New York   65.0   4/13/2023        Inválido
9   10     Dave       CB  Los Angeles   11.0    8/3/2023        Inválido
11  12     Dave       CA      Houston   10.0   3/29/2023        Inválido
12  13      Bob       CC      Chicago   11.0   4/10/2023        Inválido
15  16     Dave       CA      Houston   64.0   5/11/2023        Inválido
18  19     John       CA      Houston   79.0   9/15/2023        Inválido
19  20      Bob       CA      Chicago   25.0  12/10/2023        Inválido
20  21     Jane       CB      Houston   68.0  10/21/2023        Inválido
22  23      Bob       CB      Houston   68.0   10/4/2023        Inválido
23  24     Jane       CB      Chicago   99.0   6/10/2023        Inválido
24  25  Charlie       CA      Chicago   28.0  11/10/2023        Inválido
26  27  Charlie       CB  Los Angeles   42.0   9/10/2023        Inválido
27  28     Jane       CA  Los Angeles   48.0   8/24/2023        Inválido
28  29      Bob       CB      Houston   10.0  12/11/2023        Inválido
29  30  Charlie       CC     New York   66.0   2/18/2023        Inválido
30  31      Eve       CA      Houston   32.0   2/28/2023        Inválido
36  37     Jane       CA      Chicago   46.0   2/20/2023        Inválido
37  38  Charlie       CB  Los Angeles   18.0  12/30/2023        Inválido
39  40  Charlie       CA     New York   12.0    9/1/2023        Inválido
42  43     Dave       CC     New York   81.0   11/3/2023        Inválido
43  44    Grace       CC      Chicago   93.0   5/15/2023        Inválido
44  45  Charlie       CB     New York   98.0   1/21/2023        Inválido
46  47      Bob       CC      Houston   91.0   6/16/2023        Inválido
47  48     John       CB     New York   44.0   10/1/2023        Inválido
48  49  Charlie       CB      Chicago   50.0   3/30/2023        Inválido
49  50    Grace       CA      Chicago   77.0  11/12/2023        Inválido
51  40  Charlie       CA     New York   12.0    9/1/2023        Inválido
52  31      Eve       CA      Houston   32.0   2/28/2023        Inválido
55  49  Charlie       CB      Chicago   50.0   3/30/2023        Inválido
56  27  Charlie       CB  Los Angeles   42.0   9/10/2023        Inválido
59  20      Bob       CA      Chicago   25.0  12/10/2023        Inválido

In [32]:
##Corregimos la fecha del campo Date en el formato "%Y/%m/%d"

datos2_df['Date'] = datos2_df['Date'].apply(corregir_fecha, args=("%d/%m/%Y",))
datos2_df['Date'] = datos2_df['Date'].apply(corregir_fecha, args=("%m/%d/%Y",))
datos2_df

<ipython-input-32-6b41f9c4f3dd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos2_df['Date'] = datos2_df['Date'].apply(corregir_fecha, args=("%d/%m/%Y",))
<ipython-input-32-6b41f9c4f3dd>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos2_df['Date'] = datos2_df['Date'].apply(corregir_fecha, args=("%m/%d/%Y",))

    ID     Name Category         City  Value        Date Validacion_Date
0    1  Charlie       CC      Chicago   46.0  2023-04-13        Inválido
1    2     Jane       CC      Houston   53.0  2023-12-15        Inválido
2    3     Jane       CA      Chicago   68.0  2023-09-28        Inválido
4    5     Jane       CC      Houston   71.0  2023-03-13        Inválido
5    6      Eve       CA  Los Angeles   61.0  2023-08-07        Inválido
6    7     Jane       CA      Chicago   48.0  2023-01-21        Inválido
7    8      Bob       CB     New York   65.0  2023-04-13        Inválido
9   10     Dave       CB  Los Angeles   11.0  2023-03-08        Inválido
11  12     Dave       CA      Houston   10.0  2023-03-29        Inválido
12  13      Bob       CC      Chicago   11.0  2023-10-04        Inválido
15  16     Dave       CA      Houston   64.0  2023-11-05        Inválido
18  19     John       CA      Houston   79.0  2023-09-15        Inválido
19  20      Bob       CA      Chicago   25.0  2023-10-12        Inválido
20  21     Jane       CB      Houston   68.0  2023-10-21        Inválido
22  23      Bob       CB      Houston   68.0  2023-04-10        Inválido
23  24     Jane       CB      Chicago   99.0  2023-10-06        Inválido
24  25  Charlie       CA      Chicago   28.0  2023-10-11        Inválido
26  27  Charlie       CB  Los Angeles   42.0  2023-10-09        Inválido
27  28     Jane       CA  Los Angeles   48.0  2023-08-24        Inválido
28  29      Bob       CB      Houston   10.0  2023-11-12        Inválido
29  30  Charlie       CC     New York   66.0  2023-02-18        Inválido
30  31      Eve       CA      Houston   32.0  2023-02-28        Inválido
36  37     Jane       CA      Chicago   46.0  2023-02-20        Inválido
37  38  Charlie       CB  Los Angeles   18.0  2023-12-30        Inválido
39  40  Charlie       CA     New York   12.0  2023-01-09        Inválido
42  43     Dave       CC     New York   81.0  2023-03-11        Inválido
43  44    Grace       CC      Chicago   93.0  2023-05-15        Inválido
44  45  Charlie       CB     New York   98.0  2023-01-21        Inválido
46  47      Bob       CC      Houston   91.0  2023-06-16        Inválido
47  48     John       CB     New York   44.0  2023-01-10        Inválido
48  49  Charlie       CB      Chicago   50.0  2023-03-30        Inválido
49  50    Grace       CA      Chicago   77.0  2023-12-11        Inválido
51  40  Charlie       CA     New York   12.0  2023-01-09        Inválido
52  31      Eve       CA      Houston   32.0  2023-02-28        Inválido
55  49  Charlie       CB      Chicago   50.0  2023-03-30        Inválido
56  27  Charlie       CB  Los Angeles   42.0  2023-10-09        Inválido
59  20      Bob       CA      Chicago   25.0  2023-10-12        Inválido

In [33]:
#Validamos de nuevo las fechas
#Estandarizamos la fecha al formato
validacionDatos_Fecha(datos2_df, "Date", "%Y-%m-%d")

datos2_df

<ipython-input-2-80eebb94865f>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos['Validacion_'+campo] = datos[campo].apply(validarFecha, args=(formatoFecha,))

    ID     Name Category         City  Value        Date Validacion_Date
0    1  Charlie       CC      Chicago   46.0  2023-04-13          Válido
1    2     Jane       CC      Houston   53.0  2023-12-15          Válido
2    3     Jane       CA      Chicago   68.0  2023-09-28          Válido
4    5     Jane       CC      Houston   71.0  2023-03-13          Válido
5    6      Eve       CA  Los Angeles   61.0  2023-08-07          Válido
6    7     Jane       CA      Chicago   48.0  2023-01-21          Válido
7    8      Bob       CB     New York   65.0  2023-04-13          Válido
9   10     Dave       CB  Los Angeles   11.0  2023-03-08          Válido
11  12     Dave       CA      Houston   10.0  2023-03-29          Válido
12  13      Bob       CC      Chicago   11.0  2023-10-04          Válido
15  16     Dave       CA      Houston   64.0  2023-11-05          Válido
18  19     John       CA      Houston   79.0  2023-09-15          Válido
19  20      Bob       CA      Chicago   25.0  2023-10-12          Válido
20  21     Jane       CB      Houston   68.0  2023-10-21          Válido
22  23      Bob       CB      Houston   68.0  2023-04-10          Válido
23  24     Jane       CB      Chicago   99.0  2023-10-06          Válido
24  25  Charlie       CA      Chicago   28.0  2023-10-11          Válido
26  27  Charlie       CB  Los Angeles   42.0  2023-10-09          Válido
27  28     Jane       CA  Los Angeles   48.0  2023-08-24          Válido
28  29      Bob       CB      Houston   10.0  2023-11-12          Válido
29  30  Charlie       CC     New York   66.0  2023-02-18          Válido
30  31      Eve       CA      Houston   32.0  2023-02-28          Válido
36  37     Jane       CA      Chicago   46.0  2023-02-20          Válido
37  38  Charlie       CB  Los Angeles   18.0  2023-12-30          Válido
39  40  Charlie       CA     New York   12.0  2023-01-09          Válido
42  43     Dave       CC     New York   81.0  2023-03-11          Válido
43  44    Grace       CC      Chicago   93.0  2023-05-15          Válido
44  45  Charlie       CB     New York   98.0  2023-01-21          Válido
46  47      Bob       CC      Houston   91.0  2023-06-16          Válido
47  48     John       CB     New York   44.0  2023-01-10          Válido
48  49  Charlie       CB      Chicago   50.0  2023-03-30          Válido
49  50    Grace       CA      Chicago   77.0  2023-12-11          Válido
51  40  Charlie       CA     New York   12.0  2023-01-09          Válido
52  31      Eve       CA      Houston   32.0  2023-02-28          Válido
55  49  Charlie       CB      Chicago   50.0  2023-03-30          Válido
56  27  Charlie       CB  Los Angeles   42.0  2023-10-09          Válido
59  20      Bob       CA      Chicago   25.0  2023-10-12          Válido

In [34]:
#Generamos una columna con el formato de las fechas correcto
datos2_df['Fecha'] = pd.to_datetime(datos2_df['Date'], errors='coerce', format='%Y-%m-%d')
datos2_df

<ipython-input-34-51661ee4f873>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos2_df['Fecha'] = pd.to_datetime(datos2_df['Date'], errors='coerce', format='%Y-%m-%d')

,ID,Name,Category,City,Value,Date,Validacion_Date,Fecha
0,1,Charlie,CC,Chicago,46.0,2023-04-13,Válido,2023-04-13
1,2,Jane,CC,Houston,53.0,2023-12-15,Válido,2023-12-15
2,3,Jane,CA,Chicago,68.0,2023-09-28,Válido,2023-09-28
4,5,Jane,CC,Houston,71.0,2023-03-13,Válido,2023-03-13
5,6,Eve,CA,Los Angeles,61.0,2023-08-07,Válido,2023-08-07
6,7,Jane,CA,Chicago,48.0,2023-01-21,Válido,2023-01-21
7,8,Bob,CB,New York,65.0,2023-04-13,Válido,2023-04-13
9,10,Dave,CB,Los Angeles,11.0,2023-03-08,Válido,2023-03-08
11,12,Dave,CA,Houston,10.0,2023-03-29,Válido,2023-03-29
12,13,Bob,CC,Chicago,11.0,2023-10-04,Válido,2023-10-04
15,16,Dave,CA,Houston,64.0,2023-11-05,Válido,2023-11-05
18,19,John,CA,Houston,79.0,2023-09-15,Válido,2023-09-15
19,20,Bob,CA,Chicago,25.0,2023-10-12,Válido,2023-10-12
20,21,Jane,CB,Houston,68.0,2023-10-21,Válido,2023-10-21
22,23,Bob,CB,Houston,68.0,2023-04-10,Válido,2023-04-10
23,24,Jane,CB,Chicago,99.0,2023-10-06,Válido,2023-10-06
24,25,Charlie,CA,Chicago,28.0,2023-10-11,Válido,2023-10-11
26,27,Charlie,CB,Los Angeles,42.0,2023-10-09,Válido,2023-10-09
27,28,Jane,CA,Los Angeles,48.0,2023-08-24,Válido,2023-08-24
28,29,Bob,CB,Houston,10.0,2023-11-12,Válido,2023-11-12
29,30,Charlie,CC,New York,66.0,2023-02-18,Válido,2023-02-18
30,31,Eve,CA,Houston,32.0,2023-02-28,Válido,2023-02-28
36,37,Jane,CA,Chicago,46.0,2023-02-20,Válido,2023-02-20
37,38,Charlie,CB,Los Angeles,18.0,2023-12-30,Válido,2023-12-30
39,40,Charlie,CA,New York,12.0,2023-01-09,Válido,2023-01-09
42,43,Dave,CC,New York,81.0,2023-03-11,Válido,2023-03-11
43,44,Grace,CC,Chicago,93.0,2023-05-15,Válido,2023-05-15
44,45,Charlie,CB,New York,98.0,2023-01-21,Válido,2023-01-21
46,47,Bob,CC,Houston,91.0,2023-06-16,Válido,2023-06-16
47,48,John,CB,New York,44.0,2023-01-10,Válido,2023-01-10
48,49,Charlie,CB,Chicago,50.0,2023-03-30,Válido,2023-03-30
49,50,Grace,CA,Chicago,77.0,2023-12-11,Válido,2023-12-11
51,40,Charlie,CA,New York,12.0,2023-01-09,Válido,2023-01-09
52,31,Eve,CA,Houston,32.0,2023-02-28,Válido,2023-02-28
55,49,Charlie,CB,Chicago,50.0,2023-03-30,Válido,2023-03-30
56,27,Charlie,CB,Los Angeles,42.0,2023-10-09,Válido,2023-10-09
59,20,Bob,CA,Chicago,25.0,2023-10-12,Válido,2023-10-12

In [35]:
#Finalmente exportamos el dataset con los datos correctos y limpios
datos2_df.to_csv('datos_limpios.csv', index=False)